.dep-diagram {
  margin-left: 3rem;

  .project-name {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    &.up {
      color: #089322;
    }

    &.warning {
      color: orange;
    }

    &.down {
      color: red;
    }

    &:hover {
      color: #5770ff;
    }
  }
}
