<div class="project-container" *ngIf="projectStatus">
  <div class="left-panel">
<!--    <pre>ProjectStatus: {{projectStatus | json}}</pre>-->
<!--    <pre>ProjectObj: {{project | json}}</pre>-->
    <h3>{{project.name}}</h3>
    <hr>
    <h5>Description:</h5>
    <p>{{project.description}}</p>
    <h5 *ngIf="project.dependencies && project.dependencies.length">Dependencies:</h5>
    <ng-container *ngIf="project.dependencies && project.dependencies.length">
      <div *ngFor="let dep of project.dependencies">
        <span>{{dep.name}}</span>
        <span> -
          <app-project-status
                  [projectStatus]="projectStatus.dependencies[dep.name]"
                  small="true">
          </app-project-status>
        </span>
      </div>
    </ng-container>
  </div>
  <div class="right-panel">
    <div>
      <div class="project-status">
        <app-project-status
                [projectStatus]="projectStatus"
                small="true">
        </app-project-status>
      </div>
      <p><b>Path Checked:</b></p>
      <p>{{projectStatus.status.path}}</p>
        <p>Status: {{projectStatus.status.status}}</p>
    </div>
  </div>
</div>
