<div class="project-container">
  <div class="left-panel">
    <h4>{{project.name}}</h4>
    <p>{{project.description}}</p>
    <ng-container *ngIf="project.dependencies && project.dependencies.length">
      <div *ngFor="let dep of project.dependencies">
        <span>{{dep.name}}</span>
        <span> - up: {{dependencyStatuses[dep.name].up}}</span>
      </div>
    </ng-container>
  </div>
  <div class="right-panel">
    <div>
      <p *ngIf="projectStatus.up && !dependencyDown()" class="up-badge">UP</p>
      <p *ngIf="dependencyDown() && projectStatus.up" class="warning-badge">WARNING</p>
      <p *ngIf="!projectStatus.up" class="down-badge">DOWN</p>
      <p>{{projectStatus.pathsChecked[0]}}</p>
    </div>
  </div>
</div>
