<div class="project-container" *ngIf="projectStatus">
  <div class="left-panel">
<!--    <pre>ProjectStatus: {{projectStatus | json}}</pre>-->
<!--    <pre>ProjectObj: {{project | json}}</pre>-->
    <h3>{{project.name}}</h3>
    <hr>
    <h5>Description:</h5>
    <p>{{project.description}}</p>
    <h5 *ngIf="project.dependencies && project.dependencies.length">Dependencies:</h5>
    <ng-container *ngIf="project.dependencies && project.dependencies.length">
      <div *ngFor="let dep of project.dependencies">
        <span>{{dep.name}}</span>
        <span class="project-status-container">
          <app-project-status
                  [projectStatus]="projectStatus.dependencies[dep.name]"
                  size="small">
          </app-project-status>
        </span>
      </div>
    </ng-container>
  </div>
  <div class="right-panel">
    <div>
        <div class="project-status">
        <app-project-status
                [projectStatus]="projectStatus"
                size="medium">
        </app-project-status>
        </div>
        <p><b>Paths Checked:</b></p>
        <div *ngFor="let status of projectStatus.statuses">
            <p><b>Path:</b> {{status.path}}</p>
            <p><b>Status:</b> {{status.status}} <span *ngIf="!status.status">No response</span></p>
        </div>
    </div>
  </div>
</div>
