<app-overal-status
        *ngIf="projectsMonitorOn"
        [projectStatuses]="projectStatuses">
</app-overal-status>
<h6 class="banner monitor-is-off"
    *ngIf="!projectsMonitorOn">
  MONITOR IS OFF
</h6>
<header class="projects-header">
  <h1 class="heading">Projects</h1>
  <div class="monitor-info">
    <app-monitor-info
            [monitorOn]="projectsMonitorOn"
            [monitorCountdown]="statusService.projectsMonitorCountdown$ | async"
            [intervalLength]="intervalLength"
            [hasConfig]="!!(projectsConfig && projectsConfig.length)"
            (startedMonitoring)="startMonitoringProjects()"
            (stoppedMonitoring)="stopMonitoringProjects()">
    </app-monitor-info>
  </div>
</header>
<section class="projects-container">
  <section class="projects-list" *ngIf="projectsStatusOverview && projectsConfig">
    <div class="project" *ngFor="let project of projectsConfig">
      <app-project-list-item
        [routerLink]="project.name"
        [project]="project"
        [projectStatus]="projectsStatusOverview[project.name]">
      </app-project-list-item>
    </div>
  </section>
</section>
