.projects-header {
  display: flex;
  justify-content: space-between;

  .heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .monitor-info {
    text-align: right;

    button.stop-monitor-btn {
      margin-top: 0.3rem;
      font-size: 0.8rem;
      padding: 0 0.4rem;
    }
  }
}

app-project-list-item {
  margin: 1rem;
}
