@import "src/styles";

.banner {
  &.monitor-is-off {
    background-color: dodgerblue;
    color: #fafafa;
    padding: 0.5rem 1rem;
    margin-top: 0;
    text-align: center;
    @include border-radius(10px)
  }
}

.projects-header {
  display: flex;
  justify-content: space-between;

  .heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }
}

app-project-list-item {
  margin: 1rem;
}
