<header class="projects-header">
  <h1 class="heading">Projects</h1>
  <span>Monitoring projects every: {{intervalLength | msToMin}}</span>
</header>
<section class="projects-container">
  <section class="projects-list" *ngIf="projectsStatusOverview && projectsConfig">
    <div class="project" *ngFor="let project of projectsConfig">
      <app-project-list-item
        [routerLink]="project.name"
        [project]="project"
        [projectStatus]="projectsStatusOverview[project.name]">
      </app-project-list-item>
    </div>
  </section>
</section>
