<app-overal-status
        *ngIf="projectsMonitorOn"
        [projectStatuses]="projectStatuses">
</app-overal-status>
<ng-container *ngIf="project">
  <h6 class="banner monitor-is-off"
      *ngIf="!(statusService.projectsMonitorOn$ | async)">
    MONITOR IS OFF
  </h6>
  <section class="project-header">
    <app-dependency-nav
            [currentProjectName]="project.name"
            [dependencyNavRef]="dependencyNavRef"
            (navigatedToProject)="navigateToProject($event)"
            (navigatedBack)="goBack()">
    </app-dependency-nav>
    <app-monitor-info
            [monitorOn]="statusService.projectsMonitorOn$ | async"
            [monitorCountdown]="statusService.projectsMonitorCountdown$ | async"
            [intervalLength]="intervalLength"
            [hasConfig]="!!(projectsConfig && projectsConfig.length)"
            (startedMonitoring)="startMonitoringProjects()"
            (stoppedMonitoring)="stopMonitoringProjects()">
    </app-monitor-info>
  </section>
  <section class="project-container">
    <app-project-details
            [project]="project"
            [projectStatus]="projectsStatus">
    </app-project-details>
    <app-project-dependencies
            [dependencies]="project.dependencies"
            [projectsStatus]="projectsStatus">
    </app-project-dependencies>
  </section>
</ng-container>
