@import "src/styles";

.healthcheck-item-container {
  border: 1px solid #ccc;
  @include border-radius(10px);
  padding: 0 1rem;
  overflow: scroll;

  .healthcheck-name {
    color: #FF0000;

    .up-down-text {
      mat-icon {
        margin-left: 0.7rem;
      }
    }

    &.up {
      color: green;
    }
  }

  .healthcheck-status-wrapper {
    margin-left: 1rem;
    margin-bottom: 2rem;

    .status-code {
      color: #FF0000;

      &.up {
        color: green;
      }
    }

    .timestamp {
      font-size: 0.87rem;
    }
  }

}
