@import "src/styles";

.dep-diagram-container {
  .diagram {
    background: #343434;
    color: #FAFAFA;
    padding: 2rem;
    @include border-radius(10px);

    .project-name {
      font-size: 1.2rem;
      font-weight: bold;

      &.up {
        color: #089322;
      }

      &.warning {
        color: orange;
      }

      &.down {
        color: red;
      }
    }
  }

  .project-dependency-list {
    padding-left: 2rem;
  }

}
