<section class="project-details-container">
  <div class="project-info">
    <h1 class="project-name">{{project?.name}}</h1>
    <p><b>Description</b></p>
    <p>{{project?.description}}</p>
    <p><b>Health Checks:</b></p>
    <hr>
    <app-healthcheck-status-list-item [projectStatus]="projectStatus">
    </app-healthcheck-status-list-item>
    <div>
<!--      <iframe *ngIf="project.uiPath"-->
<!--              height="400"-->
<!--              width="700"-->
<!--              [src]="sanitizer.bypassSecurityTrustResourceUrl(project.uiPath)">-->
<!--      </iframe>-->
    </div>
  </div>
  <div class="project-status">
    <app-project-status
            [projectStatus]="projectStatus">
    </app-project-status>
  </div>
</section>
