@import "src/styles";

.project-details-container {
  border: 1px solid #eee;
  @include border-radius(10px);
  padding: 0 2rem 2rem 2rem;
  margin-top: 1rem;

  .project-name {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .project-details-inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .project-info {
      width: 90%;

      .project-description,
      .project-debug-tips {
        margin-left: 1rem;
        font-family: Arial, sans-serif;
      }

      .dep-map-container {
        margin-top: 2.5rem;
      }
    }

    .project-status-container {
      width: 90%;

      .project-status {
        width: auto;

        .health-check-list-label {
          margin-top: 3rem;
        }
      }
    }
  }

}

/* Larger than tablet */
@media all and (min-width: 1021px) {
  .project-details-container {
    .project-details-inner-wrapper {
      flex-direction: row;

      .project-info {
        width: 45%;
        margin-top: 0;

        .project-links {
          margin-top: 0;
        }
      }

      .project-status-container {
        width: 45%;
      }
    }
  }
}
