<div class="project-status-container" [class.small]="small" *ngIf="projectStatus">
  <div *ngIf="projectStatus.up && !projectStatus.warning" class="project-status up">
    <mat-icon>offline_bolt</mat-icon>
  </div>
  <div *ngIf="projectStatus.up && projectStatus.warning" class="project-status warning">
    <mat-icon>offline_bolt</mat-icon>
  </div>
  <div *ngIf="!projectStatus.up" class="project-status">
    <mat-icon>close</mat-icon>
  </div>
</div>
<!--<ng-container *ngIf="projectStatus">-->
<!--  <span *ngFor="let status of projectStatus.statuses">-->
<!--    <span *ngIf="status.status"> - {{status.status}}</span>-->
<!--  </span>-->
<!--</ng-container>-->
